* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Thanh hotline */
.hotline {
    background: #333;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
}

.hotline a {
    color: white;
    text-decoration: underline;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #000;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.icons {
    display: flex;
    font-size: 23px;
    gap: 15px;
}

/* Tiêu đề */
.title {
    padding: 20px 30px;
    font-size: 22px;
}

/* Khung danh mục */
.box {
    border: 3px solid black;
    margin: 20px;
    background: #e5e5e5;
}

.box-title {
    text-align: center;
    padding: 15px 0;
    border-bottom: 3px solid black;
    font-size: 25px;
}

.box-content {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

/* Danh sách bên trái */
.left-list p {
    margin-bottom: 20px;
    font-size: 20px;
}

/* Buttons bên phải */
.right-buttons {
    display: flex;
    gap: 15px;
    align-self: center;
}

.btn {
    padding: 12px 25px;
    background: white;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;
}

/* Buttons dưới cùng */
.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 25px 0;
}

.new, .add {
    padding: 12px 25px;
    background: white;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;
}
