* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Hotline */
.hotline {
    background: #333;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
}

.hotline a {
    color: white;
    text-decoration: underline;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #000;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.icons {
    display: flex;
    font-size: 23px;
    gap: 15px;
}

/* TIÊU ĐỀ */
.title {
    padding: 20px 30px;
    font-size: 22px;
}

/* BẢNG */
.box {
    margin: 20px;
    background: #e5e5e5;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    font-size: 18px;
}

th, td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

th {
    background: #dcdcdc;
}

/* dòng trống như hình */
.empty {
    height: 60px;
    background: white;
    border: 2px solid black;
}
