* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Hotline */
.hotline {
    background: #333;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
}

.hotline a {
    color: white;
    text-decoration: underline;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #000;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.icons {
    display: flex;
    font-size: 23px;
    gap: 15px;
}

/* Tiêu đề */
.title {
    padding: 20px 30px;
    font-size: 22px;
}

/* Khung chi tiết */
.info-box {
    background: #e5e5e5;
    margin: 20px;
    padding: 30px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 17px;
    margin: 3px 0;
}

/* Bảng hóa đơn */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    background: white;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 14px;
    text-align: center;
    font-size: 18px;
}

th {
    background: #dcdcdc;
}
