* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #fff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #000;
    font-size: 22px;
}

header .help {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/* Layout 2 cột */
.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.left {
    width: 50%;
    text-align: center;
}

.left .bag {
    width: 200px;
    margin-bottom: 20px;
}

.left h2 {
    font-size: 20px;
    font-weight: bold;
}

/* FORM BÊN PHẢI */
.right {
    width: 40%;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 90%;
    padding: 20px;
    border: 2px solid #000;
}

.form-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.form-box input {
    width: 100%;
    border: 2px solid #000;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #ffffff;
    font-weight: bold;
    border: 2px solid #000;
    cursor: pointer;
}

.btn:hover {
    background: #f0f0f0;
}

/* Login Other */
.login-other {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.login-other .ie {
    width: 22px;
    vertical-align: middle;
}

/* Điều khoản */
.agree {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.agree span {
    color: brown;
}

.agree a {
    color: blue;
}
